// start customize fixed styles 
$primary-color: #c32865;
$second-color:#797979;
:root {
  --primary-color: #{$primary-color};
  --second-color:#{$second-color};
}
body{
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.fix-pad{
    padding: 7rem 0;
}
.fix-mar{
    margin: 7rem 0;
}
// end customize fixed styles 


// start customize header 
header{
    position: sticky;
    left: 0;
    top: 0;
    background-color: #171717;
    z-index: 10;
}
nav.nav-bar a {
    color: #fff;
    font-size: 20px;
    padding: 0.5rem 2rem;
    font-weight: bold;
}
a.nav-item{
    position: relative;
    transition: all 1s;
}
a.get-start{
    background-color: var(--primary-color);
    border-radius: 30px;
    border: 2px solid var(--primary-color);
    padding: 1.2rem 2rem !important;
    transition: all .3s ease-in-out;
&:hover{
    background-color: transparent;
    color: var(--primary-color);
}
}
.navigation-toggel {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    transition: all 1s;
    & span{
        display: flex;
        width: 30px;
        height: 2.5px;
        margin-top: 5px;
        background-color: #fff;
        transition: all .5s;
    }
    &:hover span{
        background-color: $primary-color !important;
    }
    &:hover span:first-child,
    &:hover span:last-child{
        transform: scale(.6);
    }
}
// end customize header 

// start customize first section
.home{
    margin-top: -91px;
    background-image: url(images/slider-2.jpg);
    height: 100vh;
    background-size: cover;
    .all-content{
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    *{
        color: #fff;
        text-align: center;
    }
    h2{
        font-size: 65px;
        font-weight: bold;
    }
    h3{
        font-size: 60px;
        margin-bottom: 2rem;
        span{
        font-weight: bold;
        }
    }
    p{
        font-size: 25px;
        margin-bottom: 4rem;
    }
    a.learn{
        padding: 1.2rem 3.5rem;
        border: 1px solid;
        border-radius: 30px;
        font-size: 1.3rem;
        font-weight: bold;
        transition: all .5s;
    }
    a.learn:hover{
        background-color: $primary-color;
        border: 1px solid  $primary-color;
    }
    .scroll-down{
        position: absolute;
        bottom: 20px;
        font-size: 20px;
        color: $primary-color;
        i{
            color: $primary-color;
            animation: up-down .8s infinite alternate;
        }
    }
    .social{
        position: absolute;
        right: 40px;
        display: flex;
        flex-direction: column;
        i{
            width: 60px;
            height: 60px;
            font-size: 20px;
            margin: 1.5rem 0;
            border-radius: 50%;
            line-height: 3;
            transition: .3s;
            &:hover{
                background-color: $primary-color;
            }
        }
    }
}

// start customize about section 
.about{
    background-image: url(images/about_bg.jpg);
    .text-left h4{
        color: $primary-color;
        font-size: 25px;
    }
    .text-left h2{
        font-size: 60px;
        color: #fff;
        font-weight: bold;
    }
    .text-right p{
        color: $second-color;
        font-size: 22px;
    }
    .row-second .box{
        padding: 2rem;
        color: #fff;
        text-align: center;
        i{
            font-size: 80px;
            padding-bottom: 1.5rem;
            transition: all .5s;
        }
        &:hover i{
            color: $primary-color;
            transform: translateY(-10px);
        }
        h5{
            font-size: 25px;
        }
    }
    .row-four {
        background-image: url(images/stats-bg.jpg);
        background-size: cover;
        height: 900px;
        .skills{
            padding-right: 6rem;
            padding-left: 6rem;
            p{
                color: $primary-color;
                font-size: 30px;
            }
            h2{
                color: #fff;
                font-size: 60px;
            }
            li.custom-prog h6{
                display: flex;
                justify-content: space-between;
                color: #fff;
                font-size: 22px;
                margin-bottom: 1rem;
            }
            .progress-item {
                width: 100%;
                height: 0.5rem;
                background: #fff;
                border-radius: 1rem;
                .fill-item{
                    background-color: $primary-color;
                    border-radius: 1rem;
                    height: 100%;
                }
            }
        }
    }
    .row-four .carousel-item:before,.row-four .carousel-item:after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        display: block;
        background-color: #8a87874d;
        transition: all .8s;
    }
    .row-four .carousel-item:before{
        left: 0;
        top: 0;
    }
    .row-four .carousel-item:after{
        right: 0;
        bottom: 0;
    }
    .carousel:hover .carousel-item:before,.carousel:hover .carousel-item:after{
        width: 100%;
        height: 100%;
    }
}
// start customize work section
.work{
    background-image: url(images/portfolio_bg.jpg);
    background-size: cover;
    .title-work{
        text-align: center;
    }
    .title-work p{
        color: $primary-color;
        font-size: 25px;
    }
    .title-work h2{
        color: #fff;
        font-size: 65px;
        font-weight: bold;
    }
    .title-work span{
        font-size: 22px;
        color: #797979;
    }
    .nav-point {
        display: flex;
        justify-content: center;
        .active-link{
            background-color: $primary-color;
            border-color: $primary-color;
        }
        span{
            font-size: 25px;
            color: #fff;
            padding: 1rem 3rem;
            border: 1px solid #434343;
            text-align: center;
        }
    }
    .albums .only-photo{
        border: 2px solid;
        position: relative;
        overflow: hidden;
        .on-ph{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: #000000f5;
            color: #fff;
            z-index: 2;
            transform: translateX(-100%);
            transition: all .5s;
            .content-txt{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                flex-direction: column;
            }
            i{
                border: 1px solid;
                border-radius: 50%;
                padding: 1rem;
                font-size: 1.5rem;
                margin-bottom: .5rem;
            }
            h4{
                font-size: 2rem;
                margin-bottom: .5rem;
            }
            span{
                font-size: 1.2rem;
            }
        }
        &:hover .on-ph{
            transform: translateX(0);
        }
    }
    .view-more{       
        button{
            padding: 1rem 4rem;
            border-radius: 2rem;
            background-color: $primary-color;
            border: 3px solid $primary-color;
            color: #fff;
            font-weight: bold;
            font-size: 1.2rem;
            transition: all .5s ;
        }
        &:hover button{
           background-color: transparent; 
           color: $primary-color;
        } 
    }
    .envato{
        overflow: hidden;
        .imgs{
            justify-content: space-around;
        }
    }
}





// start customize media
@media(max-width:767px){
    header{
        display: none;
    }
    .home{
        margin: 0;
        h2 {
            font-size: 35px !important;
        }
        h3 {
            font-size: 30px !important;
        }
        p{
            font-size: 15px;
        }
        a.learn {
            padding: 0.8rem 2rem;
            font-size: .9rem;
        }
        .scroll-down{
            bottom: -3px;
        }
    }
        .home .social{
            display: none;
        }
        .about .row{
            text-align: center;
            .text-left h2 {
                font-size: 38px;
            }
            .text-right p {
                font-size: 15px;
            }
        }
        .about .row-four .skills{
            padding-right: 1rem !important;
            padding-left: 1rem !important;
            text-align: center;
        }
        .about .row-four .skills p {
            font-size: 20px;
        }
        .about .row-four .skills h2 {
            font-size: 35px;
        }
        .about .row-four .skills li.custom-prog h6 {
            font-size: 15px;
        }
        .work .title-work{
            p{
            font-size: 18px;
            }
            h2{
                font-size: 30px;
            }
            span{
                font-size: 15px;
            }
        }
        span.nav-link{
            width: 45% !important;
            font-size: 18px !important;
        }
}

// end customize media




// start customize animation
@keyframes up-down {
    0%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-2px);
    }
}
// end customize animation


