// start customize fixed styles 
$primary-color: #c32865;
$second-color:#797979;
:root {
  --primary-color: #{$primary-color};
  --second-color:#{$second-color};
}
body{
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
}
::selection {
    color: #fff;
    background: $primary-color;
  }
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.fix-pad{
    padding: 7rem 0;
}
.fix-mar{
    margin: 7rem 0;
}
.fix-title{
    text-align: center;
}
.fix-title p{
    color: $primary-color;
    font-size: 25px;
}
.fix-title h2{
    color: #fff;
    font-size: 50px;
    font-weight: bold;
}
.fix-title span{
    font-size: 18px;
    color: #797979;
}
.carousel-item:before,.carousel-item:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    display: block;
    background-color: #8a87874d;
    transition: all .8s;
}
.carousel-item:before{
    left: 0;
    top: 0;
}
.carousel-item:after{
    right: 0;
    bottom: 0;
}
.carousel:hover .carousel-item:before,.carousel:hover .carousel-item:after{
    width: 100%;
    height: 100%;
}
// end customize fixed styles 

// start customize header 
header{
    position: sticky;
    left: 0;
    top: 0;
    background-color: #171717;
    z-index: 10;
}
nav.nav-bar a {
    color: #fff;
    font-size: 20px;
    padding: 0.5rem 2rem;
    font-weight: bold;
}
a.nav-item{
    position: relative;
    transition: all 1s;
}
a.get-start{
    background-color: var(--primary-color);
    border-radius: 30px;
    border: 2px solid var(--primary-color);
    padding: 1.2rem 2rem !important;
    transition: all .3s ease-in-out;
&:hover{
    background-color: transparent;
    color: var(--primary-color);
}
}
.navigation-toggel {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    transition: all 1s;
    & span{
        display: flex;
        width: 30px;
        height: 2.5px;
        margin-top: 5px;
        background-color: #fff;
        transition: all .5s;
    }
    &:hover span{
        background-color: $primary-color !important;
    }
    &:hover span:first-child,
    &:hover span:last-child{
        transform: scale(.6);
    }
}
.menu-mob{
    display: none !important;
    background-image: url(images/about_bg.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    transition: all 1s;
    .row{
        padding: 100px 0;
        .main-menu{
            flex-direction: column;
            .nav-bar{
                display: flex;
                justify-content: center;
                flex-direction: column;
                text-align: center;
            }
        }
        .social-header{
            ul{
                display: flex;
                i{
                    color: #fff;
                    margin-right: 10px;
                }
            }
        }
        .copyright-footer{
            color: #fff;
            a{
                color: $primary-color;
            }
        }
    }
}
#navigator:checked .menu-mob{
    transform: translateY(0) !important;
}
// end customize header 

// start customize first section
.home{
    margin-top: -91px;
    background-image: url(images/slider-2.jpg);
    height: 100vh;
    background-size: cover;
    .all-content{
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    *{
        color: #fff;
        text-align: center;
    }
    h2{
        font-size: 65px;
        font-weight: bold;
    }
    h3{
        font-size: 60px;
        margin-bottom: 2rem;
        span{
        font-weight: bold;
        }
    }
    p{
        font-size: 25px;
        margin-bottom: 4rem;
    }
    a.learn{
        padding: 1.2rem 3.5rem;
        border: 1px solid;
        border-radius: 30px;
        font-size: 1.3rem;
        font-weight: bold;
        transition: all .5s;
    }
    a.learn:hover{
        background-color: $primary-color;
        border: 1px solid  $primary-color;
    }
    .scroll-down{
        position: absolute;
        bottom: 20px;
        font-size: 20px;
        color: $primary-color;
        i{
            color: $primary-color;
            animation: up-down .8s infinite alternate;
        }
    }
    .social{
        position: absolute;
        right: 40px;
        display: flex;
        flex-direction: column;
        i{
            width: 60px;
            height: 60px;
            font-size: 20px;
            margin: 1.5rem 0;
            border-radius: 50%;
            line-height: 3;
            transition: .3s;
            &:hover{
                background-color: $primary-color;
            }
        }
    }
}

// start customize about section 
.about{
    background-image: url(images/about_bg.jpg);
    .text-left h4{
        color: $primary-color;
        font-size: 25px;
    }
    .text-left h2{
        font-size: 50px;
        color: #fff;
        font-weight: bold;
    }
    .text-right p{
        color: $second-color;
        font-size: 22px;
    }
    .row-second .box{
        padding: 2rem;
        color: #fff;
        text-align: center;
        i{
            font-size: 80px;
            padding-bottom: 1.5rem;
            transition: all .5s;
        }
        &:hover i{
            color: $primary-color;
            transform: translateY(-10px);
        }
        h5{
            font-size: 25px;
        }
    }
    .row-four {
        background-image: url(images/stats-bg.jpg);
        background-size: cover;
        height: 900px;
        .skills{
            padding-right: 6rem;
            padding-left: 6rem;
            p{
                color: $primary-color;
                font-size: 30px;
            }
            h2{
                color: #fff;
                font-size: 60px;
            }
            li.custom-prog h6{
                display: flex;
                justify-content: space-between;
                color: #fff;
                font-size: 22px;
                margin-bottom: 1rem;
            }
            .progress-item {
                width: 100%;
                height: 0.5rem;
                background: #fff;
                border-radius: 1rem;
                .fill-item{
                    background-color: $primary-color;
                    border-radius: 1rem;
                    height: 100%;
                }
            }
        }
    }
}
// start customize work section
.work{
    background-image: url(images/portfolio_bg.jpg);
    background-size: cover;
    .nav-point {
        display: flex;
        justify-content: center;
        .active-link{
            background-color: $primary-color;
            border-color: $primary-color;
        }
        span{
            font-size: 25px;
            color: #fff;
            padding: 1rem 3rem;
            border: 1px solid #434343;
            text-align: center;
        }
    }
    .albums .only-photo{
        border: 2px solid;
        position: relative;
        overflow: hidden;
        .on-ph{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: #000000f5;
            color: #fff;
            z-index: 2;
            transform: translateX(-100%);
            transition: all .5s;
            .content-txt{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                flex-direction: column;
            }
            i{
                border: 1px solid;
                border-radius: 50%;
                padding: 1rem;
                font-size: 1.5rem;
                margin-bottom: .5rem;
            }
            h4{
                font-size: 2rem;
                margin-bottom: .5rem;
            }
            span{
                font-size: 1.2rem;
            }
        }
        &:hover .on-ph{
            transform: translateX(0);
        }
    }
    .view-more{       
        button{
            padding: 1rem 4rem;
            border-radius: 2rem;
            background-color: $primary-color;
            border: 3px solid $primary-color;
            color: #fff;
            font-weight: bold;
            font-size: 1.2rem;
            transition: all .5s ;
        }
        &:hover button{
           background-color: transparent; 
           color: $primary-color;
        } 
    }
    .envato{
        overflow: hidden;
        .imgs{
            justify-content: space-around;
        }
    }
}

// start customize testemonials
.testemonial{
    background-image: url(images/parallax-img.jpg);
    background-size: cover;
    background-attachment: fixed;
    .teste-card{
        text-align: center;
        color: #fff;
    }
}
// end customize testemonials

// start customize pricing
.pricing{
    background-image: url(images/pricing.jpg);
    background-size: cover;
} 
.pri-item{
    border-radius: 10px;
    transition: all .3s;
    h4{
        color: #fff;
    }
    .price-para {
        p{
            color: #797979;
            transition: all .3s;
        }
    }
    .pricing-price,.type-pri{
        border-bottom: 1px solid;
    }
    .currency{
        sup{
            font-size: 22px;
            display: flex;
            align-items: center;
            color: #fff;
        }
        p{
            color: #fff;
            font-size: 48px;
            transition: all .3s;
        }
        span{
            text-align: center;
            color: #fff;
            margin-top: -15px;
            font-size: 12px;
        }
    }
    .pricing-details {
        li{
            color: #797979;
            transition: .3s;
            i{
                color: #62be10;
            }
        }
    }
    &:hover .pricing-details li,&:hover .price-para p{
        color: #fff;
    }
    &:hover .currency p{
        color: $primary-color;
    }
    &:hover{
        background-color: #202020;
    }
    .pricing-btn{
        button{
            width: 100%;
            background: transparent;
            color: #fff;
            border: 1px solid #ddd;
            border-radius: 2rem;
            padding: 0.85rem 6rem;
            font-weight: bold;
            transition: .5s;
        }
        &:hover button{
            background-color: $primary-color;
            border: 1px solid $primary-color;
        }
    }
}
.active-pri{
    background-color: #202020;
    .currency p{
        color: $primary-color;
    }
}
// start customize blog
.blog{
    background-image: url(images/blog-bg.jpg);
    background-size: cover;
    .blog-text{
        margin: 0 auto;
        width: 80%;
        span{
            font-size: 20px;    
            color: $primary-color;
        }
        h2{
            color: #fff;
            font-size: 45px;
            font-weight: bold;
        }
        p{
            color: #797979;
        }
        button{
            padding: .75rem 3rem;
            border-radius: 2rem;
            border: 2px solid $primary-color;
            color: #fff;
            font-weight: bold;
            background-color: $primary-color;
            transition: all .3s;
            &:hover{
                color: $primary-color;
                background-color: transparent;
            }
        }
    }
}
// end customize blog

// start customize contact
.contact {
    background-image: url(images/contact-bg.jpg);
    background-size: cover;
    .contact-details{
        color: #fff;
        .main-title{
            color: $primary-color;
            font-size: 16px;
            font-weight: bold;
        }
    }
    .contact-form{
        input,textarea{
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #797979;
            padding: 5px 0;
            transition: all .5s;
            outline: none;
        }
        input:focus,textarea:focus{
            border-bottom: 1px solid $primary-color;
        }
        .sub-btn{
            button{
                width: 100%;
                background-color: $primary-color;
                color: #fff;
                font-size: 20px;
                font-weight: bold;
                border: 2px solid $primary-color;
                padding: .80rem;
                border-radius: 2rem;
                transition: all .3s;
            }
            &:hover button{
                background-color: transparent;
                border: 2px solid $primary-color;
                color: $primary-color;
            }
        }
    }

}
// end customize contact

// start customize footer
footer{
    background-image: url(images/footer-bg.jpg);
    background-size: cover;
    padding: 60px 0;
    .social-icons{
        justify-content: center;
        align-items: center;
        li{
            a{
                width: 45px;
                height: 45px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                transition: all .3s;
            }
            &:hover a{
                background-color: $primary-color;
            }
            i{
                color: #fff;
            }
        }
    }
    .copyright-footer{
        text-align: center;
        color: #fff;
        a{
            color: $primary-color;
        }
    }
}
// end customize footer

// start customize media
@media(max-width:767px){
    .home{
        margin: 0;
        h2 {
            font-size: 35px !important;
        }
        h3 {
            font-size: 30px !important;
        }
        p{
            font-size: 15px;
        }
        a.learn {
            padding: 0.8rem 2rem;
            font-size: .9rem;
        }
        .scroll-down{
            bottom: -3px;
        }
    }
    .home .social{
        display: none;
    }
    .about .row{
        text-align: center;
        .text-left h2 {
            font-size: 38px;
        }
        .text-right p {
            font-size: 15px;
        }
    }
    .about .row-four .skills{
        padding-right: 1rem !important;
        padding-left: 1rem !important;
        text-align: center;
    }
    .about .row-four .skills p {
        font-size: 20px;
    }
    .about .row-four .skills h2 {
        font-size: 35px;
    }
    .about .row-four .skills li.custom-prog h6 {
        font-size: 15px;
    }
    span.nav-link{
        width: 45% !important;
        font-size: 18px !important;
    }
    .fix-title{
        p{
        font-size: 18px;
        }
        h2{
            font-size: 30px;
        }
        span{
            font-size: 15px;
        }
    }
    .blog{
        .blog-text{
        width: 100% !important;
        text-align: center !important;
        padding: 0 15px !important;
        h2{
            font-size: 25px;
        }
        p{
            font-size: 12px;
        }
        }
    }
    .contact-details {
        text-align: center;
        .phone-box,.support-box{
            margin-top: 3rem !important;
        }
    }
}

@media(min-width:768px) and (max-width:1200px){
    .about .text-left h2 {
        font-size: 40px;
        color: #fff;
        font-weight: bold;
    }
    .about .row-second .box h5 {
        font-size: 20px;
    }
    .about .row-four .skills{
        padding: 0 2rem;
        p {
            color: #c32865;
            font-size: 20px;
        }
        h2{
            font-size: 22px;
        }
    }
    .pri-item{
        .pricing-btn{
            button{
                padding: 0.85rem 3rem !important;
            }
        }

    }
    .phone-box,.support-box{
        margin-top: 3rem !important;
    }
}

@media(max-width:1300px){
header .nav-bar{
    display: none;
}
}
// end customize media




// start customize animation
@keyframes up-down {
    0%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-2px);
    }
}
// end customize animation


