:root {
  --primary-color: #c32865;
  --second-color:#797979;
}

body {
  background-color: #000;
  font-family: "Roboto", sans-serif;
}
body * {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.fix-pad {
  padding: 7rem 0;
}

.fix-mar {
  margin: 7rem 0;
}

.fix-title {
  text-align: center;
}

.fix-title p {
  color: #c32865;
  font-size: 25px;
}

.fix-title h2 {
  color: #fff;
  font-size: 50px;
  font-weight: bold;
}

.fix-title span {
  font-size: 18px;
  color: #797979;
}

header {
  position: sticky;
  left: 0;
  top: 0;
  background-color: #171717;
  z-index: 10;
}

nav.nav-bar a {
  color: #fff;
  font-size: 20px;
  padding: 0.5rem 2rem;
  font-weight: bold;
}

a.nav-item {
  position: relative;
  transition: all 1s;
}

a.get-start {
  background-color: var(--primary-color);
  border-radius: 30px;
  border: 2px solid var(--primary-color);
  padding: 1.2rem 2rem !important;
  transition: all 0.3s ease-in-out;
}
a.get-start:hover {
  background-color: transparent;
  color: var(--primary-color);
}

.navigation-toggel {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  transition: all 1s;
}
.navigation-toggel span {
  display: flex;
  width: 30px;
  height: 2.5px;
  margin-top: 5px;
  background-color: #fff;
  transition: all 0.5s;
}
.navigation-toggel:hover span {
  background-color: #c32865 !important;
}
.navigation-toggel:hover span:first-child, .navigation-toggel:hover span:last-child {
  transform: scale(0.6);
}

.home {
  margin-top: -91px;
  background-image: url(images/slider-2.jpg);
  height: 100vh;
  background-size: cover;
}
.home .all-content {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}
.home * {
  color: #fff;
  text-align: center;
}
.home h2 {
  font-size: 65px;
  font-weight: bold;
}
.home h3 {
  font-size: 60px;
  margin-bottom: 2rem;
}
.home h3 span {
  font-weight: bold;
}
.home p {
  font-size: 25px;
  margin-bottom: 4rem;
}
.home a.learn {
  padding: 1.2rem 3.5rem;
  border: 1px solid;
  border-radius: 30px;
  font-size: 1.3rem;
  font-weight: bold;
  transition: all 0.5s;
}
.home a.learn:hover {
  background-color: #c32865;
  border: 1px solid #c32865;
}
.home .scroll-down {
  position: absolute;
  bottom: 20px;
  font-size: 20px;
  color: #c32865;
}
.home .scroll-down i {
  color: #c32865;
  animation: up-down 0.8s infinite alternate;
}
.home .social {
  position: absolute;
  right: 40px;
  display: flex;
  flex-direction: column;
}
.home .social i {
  width: 60px;
  height: 60px;
  font-size: 20px;
  margin: 1.5rem 0;
  border-radius: 50%;
  line-height: 3;
  transition: 0.3s;
}
.home .social i:hover {
  background-color: #c32865;
}

.about {
  background-image: url(images/about_bg.jpg);
}
.about .text-left h4 {
  color: #c32865;
  font-size: 25px;
}
.about .text-left h2 {
  font-size: 60px;
  color: #fff;
  font-weight: bold;
}
.about .text-right p {
  color: #797979;
  font-size: 22px;
}
.about .row-second .box {
  padding: 2rem;
  color: #fff;
  text-align: center;
}
.about .row-second .box i {
  font-size: 80px;
  padding-bottom: 1.5rem;
}
.about .row-second .box h5 {
  font-size: 25px;
}
.about .row-four {
  background-image: url(images/stats-bg.jpg);
  background-size: cover;
  height: 900px;
}
.about .row-four .skills {
  padding-right: 6rem;
  padding-left: 6rem;
}
.about .row-four .skills p {
  color: #c32865;
  font-size: 30px;
}
.about .row-four .skills h2 {
  color: #fff;
  font-size: 60px;
}
.about .row-four .skills li.custom-prog h6 {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 22px;
  margin-bottom: 1rem;
}
.about .row-four .skills .progress-item {
  width: 100%;
  height: 0.5rem;
  background: #fff;
  border-radius: 1rem;
}
.about .row-four .skills .progress-item .fill-item {
  background-color: #c32865;
  border-radius: 1rem;
  height: 100%;
}
.about .row-four .carousel-item:before, .about .row-four .carousel-item:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  display: block;
  background-color: rgba(138, 135, 135, 0.3019607843);
  transition: all 0.8s;
}
.about .row-four .carousel-item:before {
  left: 0;
  top: 0;
}
.about .row-four .carousel-item:after {
  right: 0;
  bottom: 0;
}
.about .carousel:hover .carousel-item:before, .about .carousel:hover .carousel-item:after {
  width: 100%;
  height: 100%;
}

.work {
  background-image: url(images/portfolio_bg.jpg);
  background-size: cover;
}
.work .nav-point {
  display: flex;
  justify-content: center;
}
.work .nav-point .active-link {
  background-color: #c32865;
  border-color: #c32865;
}
.work .nav-point span {
  font-size: 25px;
  color: #fff;
  padding: 1rem 3rem;
  border: 1px solid #434343;
  text-align: center;
}
.work .albums .only-photo {
  border: 2px solid;
  position: relative;
}
.work .albums .only-photo .on-ph {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9607843137);
  color: #fff;
  z-index: 2;
}
.work .albums .only-photo .on-ph .content-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.testemonial {
  background-image: url(images/parallax-img.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.testemonial .teste-card {
  text-align: center;
  color: #fff;
}

.pricing {
  background-image: url(images/pricing.jpg);
  background-size: cover;
}

.pri-item {
  border-radius: 10px;
  transition: all 0.3s;
}
.pri-item h4 {
  color: #fff;
}
.pri-item .price-para p {
  color: #797979;
  transition: all 0.3s;
}
.pri-item .pricing-price, .pri-item .type-pri {
  border-bottom: 1px solid;
}
.pri-item .currency sup {
  font-size: 22px;
  display: flex;
  align-items: center;
  color: #fff;
}
.pri-item .currency p {
  color: #fff;
  font-size: 48px;
  transition: all 0.3s;
}
.pri-item .currency span {
  text-align: center;
  color: #fff;
  margin-top: -15px;
  font-size: 12px;
}
.pri-item .pricing-details li {
  color: #797979;
  transition: 0.3s;
}
.pri-item .pricing-details li i {
  color: #62be10;
}
.pri-item:hover .pricing-details li, .pri-item:hover .price-para p {
  color: #fff;
}
.pri-item:hover .currency p {
  color: #c32865;
}
.pri-item:hover {
  background-color: #202020;
}
.pri-item .pricing-btn button {
  width: 100%;
  background: transparent;
  color: #fff;
  border: 1px solid #ddd;
  border-radius: 2rem;
  padding: 0.85rem 6rem;
  font-weight: bold;
  transition: 0.5s;
}
.pri-item .pricing-btn:hover button {
  background-color: #c32865;
  border: 1px solid #c32865;
}

.active-pri {
  background-color: #202020;
}
.active-pri .currency p {
  color: #c32865;
}

@media (max-width: 767px) {
  header {
    display: none;
  }
  .home {
    margin: 0;
  }
  .home h2 {
    font-size: 35px !important;
  }
  .home h3 {
    font-size: 30px !important;
  }
  .home p {
    font-size: 15px;
  }
  .home a.learn {
    padding: 0.8rem 2rem;
    font-size: 0.9rem;
  }
  .home .social {
    display: none;
  }
  .about .row {
    text-align: center;
  }
  .about .row .text-left h2 {
    font-size: 38px;
  }
  .about .row .text-right p {
    font-size: 15px;
  }
  .about .row-four .skills {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    text-align: center;
  }
  .about .row-four .skills p {
    font-size: 20px;
  }
  .about .row-four .skills h2 {
    font-size: 35px;
  }
  .about .row-four .skills li.custom-prog h6 {
    font-size: 15px;
  }
  span.nav-link {
    width: 45% !important;
    font-size: 18px !important;
  }
  .fix-title p {
    font-size: 18px;
  }
  .fix-title h2 {
    font-size: 30px;
  }
  .fix-title span {
    font-size: 15px;
  }
}
@keyframes up-down {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-2px);
  }
}/*# sourceMappingURL=style.css.map */